<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>My Website</title>
        <link th:href="@{/styles/main.css}" rel="stylesheet" />
        <!--        <link rel="icon" href="./favicon.ico" type="image/x-icon">-->
    </head>
    <body>
        <main>
            <h1>Weight log - index</h1>
        </main>
        <section>
            <ul>
                <li>
                    <a href="/hi-zone-api/station/ui/wellbeing/weightlog">Well-being - Weightlog app</a>
                </li>
            </ul>
        </section>
    </body>
</html>
